<?xml version="1.0" encoding="utf-8"?>
<manifest 
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.setik.androidutils">

  <uses-feature android:name="android.hardware.camera.ar" android:required="false" tools:replace="android:required" />
  <uses-feature android:name="com.google.ar.core.depth" android:required="false" tools:replace="android:required" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application>
    <activity android:name="com.unity3d.player.UnityPlayerActivity" android:exported="true" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
    <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />
    <meta-data android:name="com.google.ar.core" android:value="optional" tools:replace="android:value" />

    <!-- ScreenRecorderService đã bị xóa (không còn dùng MediaProjection) -->

  </application>
</manifest>
